<%- include('partials/header') %> 
    <table><tr><td><h1>PHOTO LIST</h1></td><td><h1 style="color:rgb(0, 68, 255);">(<%= album %>)</h1></tr></td></table>
    <script>
        const likeThis = async (anchor, filename, album) => {
          event.preventDefault();
          try{
            const response = await fetch(anchor.href, { method: "GET"});
            if (!response.ok) throw new Error('Response status: ${response.status');
            const json = await response.json();

            let img_id = 'like_' + filename;
            let elLikeCount = document.getElementById("spLike_"+filename);
            elLikeCount.innerText = (parseInt(elLikeCount.innerText)) + 1;
            if (json.modifiedCount > 0) {
              document.getElementById(img_id).innerHTML = "<a href=" + '"' + "/photolist/unlike?login_id=" + album + "&" + "filename=" + filename + '"' + " onclick=" + '"' + "unlikeThis(this, '" + filename + "', '" + album + "')" + '">'
                     + '<img src="liked.jpg" class="img-thumbnail" width="50" height="50"></a>'
            } else
            alert('no update');
          } catch (error){
            console.log(error.message);
          }

        }
        const unlikeThis = async (anchor, filename, album) => {
          event.preventDefault();
          try{
            const response = await fetch(anchor.href, { method: "GET"});
            if (!response.ok) throw new Error('Response status: ${response.status');
            const json = await response.json();

            let img_id = 'like_' + filename;
            let elLikeCount = document.getElementById("spLike_"+filename);
            elLikeCount.innerText = (parseInt(elLikeCount.innerText)) - 1;
            if (json.modifiedCount > 0) {
              document.getElementById(img_id).innerHTML = "<a href=" + '"' + "/photolist/like?login_id=" + album + "&" + "filename=" + filename + '"' + " onclick=" + '"' + "likeThis(this, '" + filename + "', '" + album + "')" + '">'
                    +'<img src="like.jpg" class="img-thumbnail" width="50" height="50">'
            } else
              alert('no update');
          } catch (error){
            console.log(error.message);
          }
        }
      </script>

    <h5>All photos uploaded by the photographer <%= album %> will be displayed in this page. ENJOY! </h5>
    <table class="table table-bordered">
            <% result.forEach((item) => { %>
            <tr>
                <td>
                    <div id="<%= item.filename %>">
                        <a href="/list/photodetail?albumid=<%= item.login_id %>&name=<%= item.filename %>"><img src="/photolist/<%= item.login_id %>/<%= item.filename %>" class="img-thumbnail" width="500" height="750"></a>
                    </div>
                </td>
                <td>
                    <div id="like_<%= item.filename %>">
                      <% if (item.liked ==1) { %>
                        <a href="/photolist/unlike?login_id=<%= item.login_id %>&filename=<%= item.filename %>" onclick="unlikeThis(this, '<%= item.filename %>', '<%= item.login_id %>')"><img src="liked.jpg"class="img-thumbnail" width="50" height="50"></a>
                      <% } else { %>
                        <a href="/photolist/like?login_id=<%= item.login_id %>&filename=<%= item.filename %>" onclick="likeThis(this, '<%= item.filename %>', '<%= item.login_id %>')"><img src="like.jpg" class="img-thumbnail" width="50" height="50"></a>
                      <% } %>
                      </div>
                </td>
                <td><span id="spLike_<%= item.filename %>"><%= item.likeCount %></span> Likes </td>
            </tr>
            <% }) %>  
    </table>  
</div>
    <%- include('partials/footer') %> 